<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{'LOGIN' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" no-bounce>

  <ion-row class="idcard">

    <img src="assets/svg/GovCan.svg" class="logo" />
    <!--<h1 class="login-title">{{'BIENVENIDO' | translate}}</h1>-->
    <br>
    <form [formGroup]="authForm" id="formulario-inicio">
      <ion-item no-lines>
        <ion-label stacked>{{'USUARIO' | translate}}</ion-label>
        <ion-input type="text" [formControl]="username" placeholder="{{'USUARIO_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>{{'PASS' | translate}}</ion-label>
        <ion-input type="password" [formControl]="password" placeholder="{{'PASS_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{'RECORDAR' | translate}}</ion-label>
        <ion-checkbox [formControl]="remember"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <a (click)="openForgot()" target="_system">{{'FORGOT' | translate}}</a>
      </ion-item>
    </form>
    <br>
<div id="boton-acceder">
    <ion-col align-self-end>
      <button ion-button color="dark-grey" class="submit-button" (click)="tryLogin(authForm.value)" [disabled]="!authForm.valid" padding block>{{'ACCEDER' | translate}}</button>
        <button (click)="offlineMode()" class="forgot-link">{{'OFFLINE' | translate}}</button>
    </ion-col>
  </div>
  </ion-row>
</ion-content>