page-login {

  ion-content {
    background-color: color($colors, white) !important;
  }

  .login-content {
    margin-top: 0% !important;
  }

  .idcard{
    height: 100%;
  }

  img.logo{
    height: 150px;
    margin: auto;
    margin-bottom: 0;
  }

  form {
    width: 93%;
    margin-left: 2%;
    background-color: transparent;
  }

  ion-item {
    background-color: transparent !important;
  }

  .submit-button {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    height: 55px !important;
    font-size: 20px;
  }

  .login-title {
    width: 60%;
    height: 30px;
    text-align: center;
    color: #A3A3A3;	
    font-size: 18px;	
    letter-spacing: 0.17px;	
    line-height: 21px;	
    text-align: center;
    margin: auto;
    margin-top: 0;
  }

  .forgot-link {
    height: 19px;	
    width: 100%;	
    color: #222222;	
    background-color: transparent;
    font-size: 14px;	
    letter-spacing: 0.13px;	
    line-height: 19px;	
    margin-top: 13px;
    margin-bottom: 15px;
  }

  ion-input {
    background: color($colors, grey);
    color: color($colors, dark);
    padding-left: 13px !important;
    padding-top: 10px !important;
    min-height: 55px !important;
    caret-color: color($colors, dark);
}

  ion-input:focus-within {
    border: 1px solid color($colors, primary) !important;
  }
  #boton-acceder{
    margin-top: -8%;
    width: 100%;
  }
  #formulario-inicio{
    margin-bottom: 2%;
    width: 100%;
    padding: 2%;
    margin-left: -2%;
   
  }

}

// Estilo de los input del login definido en app.scss aplicándolo directamente a ion-input