page-location {
    
  #atras{
    height: 80%;
  }
   
  .submit-button {
      width: 60%;
      margin: auto;
      margin-top: 9%;
      margin-bottom: 2%;
      height: 7% !important;
      font-size: 160%;
      border-radius: 8px;
    }

    .idcard{
      height: 100%;
    }

    .location-content {
      margin-top: 0% !important;
    }
   #formulario{
     margin-right: 2%;
   }
    ion-item {
      background-color: transparent !important;
    }

}