<ion-header>
  <ion-toolbar>
    <ion-title>Selector Playa</ion-title>
    <ion-buttons left >
      <button ion-button icon-only class="btn-atras" (click)="back()">
        <img src="../../assets/svg/flecha-atras.svg" id="atras" />
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>
  <ion-tabs>
    <ion-tab tabIcon="pin" tabTitle="{{'MAPA' | translate}}" [root]="publicMap"></ion-tab>
    <ion-tab tabIcon="list" tabTitle="{{'LISTA' | translate}}" [root]="publicList"></ion-tab>
  </ion-tabs>

  <form [formGroup]="locationForm" id="formulario">
    <ion-item no-lines>
      <ion-label stacked>FECHA</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [formControl]="date"></ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>MUNICIPIO</ion-label>
      <!-- <ion-select [formControl]="playa">
          <ion-option *ngFor="let playa of playas" value="{{playa.id}}">{{playa.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="municipality"
          [items]="municipalities"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="setDGSE($event); onchangeMunicipality()">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>PLAYA</ion-label>
      <!-- <ion-select [formControl]="playa">
          <ion-option *ngFor="let playa of playas" value="{{playa.id}}">{{playa.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="playa"
          [items]="playas"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="setDGSE($event); ionViewWillEnter">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>SECTOR</ion-label>
      <ion-input type="text" readonly [formControl]="sector"></ion-input>
    </ion-item>
  </form>

  <button ion-button color="blue" class="submit-button" (click)="setLocation(locationForm.value)" [disabled]="!locationForm.valid" padding block>SIGUIENTE</button>

</ion-content>
