<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="logout()">
        <img src="../../assets/svg/flecha-atras.svg" class="descargar" />
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="syncReports()">
        <img src="../../assets/svg/refresh.svg" class="descargar" />
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-tabs tabsPlacement="top">
      
    <ion-tab tabIcon="custom-bandera" tabTitle="{{'BANDERA' | translate}}" [root]="flagReports"></ion-tab>
    <ion-tab tabIcon="custom-ocupacion" tabTitle="{{'OCUPACION' | translate}}" [root]="peopleReports" ></ion-tab>
    <ion-tab tabIcon="custom-incidencia" tabTitle="{{'Incidencia' | translate}}" [root]="issueReports" ></ion-tab>

  </ion-tabs>
  <hr>
</ion-content>
