page-tabs {
 
   
    hr{
        background: #393939;
        position: relative;top:4em;
        border-top:0.01em solid;
        width:80%;
        
    
    }
   .tab-button {
    background-color: color($colors, grey);
   }
}
