<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <img src="../../assets/svg/flecha-atras.svg" id="atras" />
        </button>
      </ion-buttons>
    <ion-title>Informe Ocupación</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="setPeopleReport(peopleForm.value)" [disabled]="!peopleForm.valid">
        <img src="../../assets/svg/guardar.svg" id="guardar"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <form [formGroup]="peopleForm">
    <ion-input hidden type="text" [formControl]="lvl"></ion-input>
    <ion-label class="people-label"></ion-label>
   
      <ion-row flex-wrap>
        <ion-col width-25>
        
            <button ion-button (click)="changePeople(0)" id="people-0" class="people-button" block>
              <div  class="prueba"></div>
              <img src="../../assets/svg/ocupacion-baja.svg" class="icon" />
            </button>
            <p id="baja">Baja</p>
        </ion-col>
        <ion-col width-25 >
            <button ion-button (click)="changePeople(1)" id="people-1" class="people-button" block>
              <div class="prueba"></div>
              <img src="../../assets/svg/ocupacion-media.svg" class="icon" />
            </button>
            <p id="media">Media</p>
        </ion-col>
        <ion-col width-25>
            <button ion-button (click)="changePeople(2)" id="people-2" class="people-button" block>
              <div class="prueba2"></div>
                <img src="../../assets/svg/ocupacion-alta.svg " class="icon" />
            </button>
            <p  id= "alta">Alta</p>
        </ion-col>
        <ion-col width-25>
            <button ion-button (click)="changePeople(3)" id="people-3" class="people-button" block>
              <div class="prueba2"></div>
              <img src="../../assets/svg/candado.svg " class="icon"/>
            </button>
          <p id="cerrada">Cerrada</p>
        </ion-col>
      </ion-row>
    
    <div class="referencias" *ngIf="user.playa.srArea">
      <ion-label id="referenciastitulo" stacked>REFERENCIAS</ion-label>
      <div class="referenciastext">
        <p>Para {{user.playa.name}} se considera:</p>
        <p>Ocupación baja: Menos de {{user.playa.srArea / ocupacion_media | number:'1.0-0':'es'}} personas.</p>
        <p>Ocupación media: Menos de {{user.playa.srArea / ocupacion_alta | number:'1.0-0':'es'}} personas.</p>
        <p>Ocupación alta: Más de {{user.playa.srArea / ocupacion_alta | number:'1.0-0':'es'}} personas.</p>
      </div>
    </div>
    <div class="referencias" *ngIf="!user.playa.srArea">
      <ion-label stacked>REFERENCIAS</ion-label>
      <p>Para {{user.playa.name}} se considera:</p>
      <p>Ocupación baja: Más de {{ocupacion_media}} metros cuadrados por persona.</p>
      <p>Ocupación media: Menos de {{ocupacion_media}} metros cuadrados por persona.</p>
      <p>Ocupación alta: Menos de {{ocupacion_alta}} metros cuadrados por persona.</p>
    </div>
  </form>

  <div *ngIf="lvl.hasError('required')" class="error-box">&nbsp;* Introduzca Ocupación</div>
</ion-content>