@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
page-people-form {
  
     
      @media (max-width:399px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 10%;
            margin-top: -35%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 120%;
            margin-top: -35%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: 170%;
            margin-left: -214%;
           
          }
          #people-3 {
            margin-top: 170%;
            margin-left: -100%;
            
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 100%;
            width: 190%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 40%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 12px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -30%;
            margin-left: 80%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-30%;
            margin-left: 175%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
      @media (max-width: 450px)and (min-width: 400px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 10%;
            margin-top: -35%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 120%;
            margin-top: -35%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: 170%;
            margin-left: -210%;
           
          }
          #people-3 {
            margin-top: 170%;
            margin-left: -100%;
            
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 100%;
            width: 190%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 40%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 12px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -30%;
            margin-left: 80%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-30%;
            margin-left: 175%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
      @media (max-width:550px) and (min-width:451px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 10%;
            margin-top: -30%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 120%;
            margin-top: -30%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: 170%;
            margin-left: -206%;
           
          }
          #people-3 {
            margin-top: 170%;
            margin-left: -96%;
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 100%;
            width: 190%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 40%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 20px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -30%;
            margin-left: 80%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-30%;
            margin-left: 175%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
      @media (max-width:650px) and (min-width:551px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 10%;
            margin-top: -28%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 120%;
            margin-top: -28%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: 170%;
            margin-left: -214%;
           
          }
          #people-3 {
            margin-top: 170%;
            margin-left: -100%;
            
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 100%;
            width: 190%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 40%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 15px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -30%;
            margin-left: 80%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-30%;
            margin-left: 175%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
      @media (max-width:1000px) and (min-width:651px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 10%;
            margin-top: -20%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 120%;
            margin-top: -20%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: 170%;
            margin-left: -214%;
           
          }
          #people-3 {
            margin-top: 170%;
            margin-left: -100%;
            
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 100%;
            width: 190%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 40%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 20px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -30%;
            margin-left: 80%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-30%;
            margin-left: 175%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
      @media (max-width:1800px) and (min-width:1001px){
        #atras{
          height: 80%;
         }
          .idcard{
            height: 100%;
          }
    
          .location-content {
            margin-top: 0% !important;
          }
    
          ion-item {
            background-color: transparent !important;
          }
    
          #people-0 {
            margin-left: 5%;
            margin-top: -10%;
            z-index: 10;
          
          }
          #people-1 {
            margin-left: 10%;
            margin-top: -10%;
            z-index: 10;
          }
    
          #people-2 {
            margin-top: -10%;
            margin-left: 15%;
           float:inline-start;
          }
          #people-3 {
            margin-top: 120%;
            margin-left: 5%;
          
          }
    
          .people-button {
            background-color: color($colors, white);
            box-shadow: none;
            border: none;
            height: 70%;
            width: 90%;
            border-radius: 8%;
            margin: 5%;
          
            position: relative;
          }
      
          .people-button .icon {
            height: 35%;
            position: relative;
          }
          #guardar{
            fill: white;
            color: rgb(255, 255, 255);
            height: 90%;
          }
    
          .people-button ion-icon {
            zoom: 3;
            padding-top: 20px;
           
          }
    
          .people-button-active {
            background-color: color($colors, primary);
            
          }
    
          .people-label {
            margin-left: 10px;
            
          }
    
          #baja{
            position: absolute;
            margin-top: -20%;
            margin-left: 55%;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
    
        
          #media{
            position: absolute;
            margin-top:-20%;
            margin-left: 60%;
            width: 100%;
            font-weight: 900;
            z-index: 10;
            font-size: 100%;
          }
          #alta{
            position: absolute;
            width: 100%;
            margin-top:-30%;
            margin-left: -120%;
            font-weight: 900;
            font-size: 100%;
           }
    
          #cerrada{
            position: absolute;
            width: 150%;
            left: -20%;
            margin-top:-30%;
            font-weight: 900;
            font-size: 100%;
          }
         
          
          .error-box {
            color: red;
            margin-left: 10px;
          }
    
          .referencias{
            margin: 4%;
            margin-top: 40%;
          
          } 
          .referenciastext {
            background-color: white;
            padding-left: 9%;
            padding-top: 1%;
            padding-bottom: 1%;
            
          } 
          .referenciastitulo{
            margin-left: 10px;
          }
    
          .prueba{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 2%;
          }
          
          .prueba2{
            position: absolute;
            background-color: color($colors, grey);
            height: 60%;
            width: 60%;
            z-index: 0;
            border-radius: 50%;
            margin-bottom: 4%;
          }
          
          ion-col{
            z-index: -10%;
          }
      }
}