<ion-content padding class="tab-content">
    <ion-fab right bottom>
        <button ion-fab (click)="newIncident()" color="primary" block><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  
    <ion-grid>
      <p *ngIf="reports.length == 0">No tiene informes de incidentes hoy</p>
  
      <ion-row *ngFor="let report of reports">
        <ion-col *ngIf="!report.sync && report.beach == user.playa.id" class="columna-principal" col-12>
          <ion-row>
            <ion-col col-2>
              <button ion-button icon-only class="report-button" (click)="editIncident(report)">
                <img src="../../assets/svg/basura.svg" class="basura" />
              </button>
              </ion-col>
            <ion-col col-4>
              <p class="report-date">
                {{report.dateIni.getDate()+'/'+(report.dateIni.getMonth()+1)+'/'+report.dateIni.getFullYear()}}
              </p>
          
              <p class="report-hour">{{addZero(report.dateIni.getHours())+':'+addZero(report.dateIni.getMinutes())}}.h</p>
            </ion-col>
             <ion-col col-1>
            </ion-col>
            <ion-col col-2>
              <button ion-button icon-only class="report-button" (click)="editIncident(report)">
                <img src="../../assets/svg/descargar.svg" class="descargar" />
              </button>
            </ion-col>
            <ion-col col-1>
            </ion-col>
            <ion-col col-2>
              <button ion-button icon-only class="report-button" (click)="editIncident(report)">
                <img src="../../assets/svg/editar.svg" class="editar" />
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="syncNumber > 0">
        <ion-col col-12>
          <ion-label stacked id="sincronizados" >SINCRONIZADOS</ion-label>
          
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let report of reports">
        <ion-col *ngIf="report.sync && report.beach == user.playa.id" class="columna-principal" col-12>
          <ion-row>
            <ion-col col-5>
              <p class="report-date">
                {{report.dateIni.getDate()+'/'+(report.dateIni.getMonth()+1)+'/'+report.dateIni.getFullYear()}}
              </p>
            </ion-col>
            <ion-col col-3>
              <p class="report-hour">{{addZero(report.dateIni.getHours())+':'+addZero(report.dateIni.getMinutes())}}.h</p>
            </ion-col>
            <ion-col col-2>
              <!-- <button ion-button icon-only class="report-button" (click)="copyIncident(report)">
                <ion-icon name="copy"></ion-icon>
              </button> -->
            </ion-col>
            <ion-col col-2>
              <button ion-button icon-only class="report-button" (click)="editIncident(report)">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>