page-beach-details {
  
  

  #mapa-azul{
    height: 7%;
    width: 7%;
  }
  #horario{
    height: 5%;
    width: 5%;
  }
  #atras{
    height: 80%;
  }
  #refresh{
    height: 80%;
    color: #fff;
  }
 
  .info-box-1 {
    width: 85%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: white;
    margin-left: 7%;
    padding: 11px 11px 1px 11px;
    color: #616161;
    font-size: 120%;

  }

  .text-horario {
    color: #35AEFF;
    font-size: 18px;
  }

  .text-horario-2 {
    color: #AFB1B4;
    font-size: 18px;
  }

  .info-box-2 {
    background-color: color($colors, white);
     z-index: -1;
    border: none;
    border-radius: 5%;
    text-align: center;
    padding: 5px;
  }

  .info-box-2-row {
    height: 90%;
    width: 90%;
    margin-left: 5%;
   
  }

  .info-box-2 .info-icon {
    height: 37px;
    position: relative;
    z-index: 1;
  }

  .info-box-2-title {
    margin-top: 7%;
    font-size: 18px;
    color: color($colors, primary);
  }

  .info-box-2-sub {
    font-size: 18px;
    color:color($colors, dark);
    margin-top: 15%;
  }
  .info-box-2-sub-viento {
    font-size: 18px;
    color:color($colors, dark);
    margin-top: 15%;
  }
  .info-box-2-sub-temp {
    font-size: 18px;
    color:color($colors, dark);
    margin-top: 15%;
  }
  
  .info-box-3 {
    width: 100%;
    margin-bottom: 0;
    background-color: white;
    padding: 11px 11px 20px 11px;
  }

  .link-par {
    font-size: 18px;
  }

  .link-text {
    text-decoration: underline;
  }

  .location-content {
    margin-top: 0% !important;
  }

  .map-container {
    height: 268px;
    padding: 10px;
    background-color: white;
  }

  .centrado {
    text-align: center;
    width: 100%;
  }

  .icon-label {
    padding-top: 15px;
  }

  .flag {
    height: 20px;
  }
  /*prueba aca circulo de detras del icono*/
  .prueba{
    position: absolute;
    background-color: color($colors, grey);
    height: 40%;
    width: 40%;
    z-index: 0;
    border-radius: 50%;
    margin-top: -67%;
    margin-left: 24%;
  }
  .prueba2{
    position: absolute;
    background-color: color($colors, grey);
    height: 40%;
    width: 40%;
    z-index: 0;
    border-radius: 50%;
    margin-top: 21%;
    margin-left: 24%;
  }
  .prueba3{
    position: absolute;
    background-color: color($colors, grey);
    height: 35%;
    width: 40%;
    z-index: 0;
    border-radius: 50%;
    margin-top: 21%;
    margin-left: 24%;
  }
  .prueba4{
    position: absolute;
    background-color: color($colors, grey);
    height: 35%;
    width: 40%;
    z-index: 0;
    border-radius: 50%;
    margin-top: 21%;
    margin-left: 24%;
  }
  /* Texto dentro de prueba con la velocidad del viento*/
  #velviento{
    margin-top: 68%;
  }
   #grados{
    margin-top: 68%;
   }
  /*
  #flechaviento{
    height: 80%;
  }*/
  .temperatura {
    font-size: 20px !important;
  }

  .lock-icon {
    zoom: 2.4;
  }

  #bandera-a {
    height: 17%;
    width:  17%;
    margin-bottom: -20%;
    margin-left: 10%;
  }
  #bandera-a-texto {
    margin-bottom: -10%;
    margin-top: -5%;
  }
   /*icono de acceso*/
  #acceso-off{
    margin-left: 75%;
    width: 15%;
    margin-bottom: 5%;
  }
  /*acceso*/
  #acces{
    height:30%;
    margin-left: 65%;
   margin-top: 4%;
  }

  
}