<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <img src="../../assets/svg/flecha-atras.svg" id="atras" />
        </button>
      </ion-buttons>
    <ion-title>{{playa.name}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="../../assets/svg/refresh.svg" id="refresh" />
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <div class="info-box-1">
    <p><img src="assets/svg/mapa-azul.svg" id="mapa-azul" > {{playa.name}}, {{playa.municipality}}, {{playa.island}}</p>
    <!--Horario de socorrista-->
    <p *ngIf="playa.horaInicio && playa.horaFin"> {{'LIFEGUARD_SERVICE' | translate}}: <span class="text-horario" >{{secondsToTime(playa.horaInicio)}} - {{secondsToTime(playa.horaFin)}}</span></p>
    <p *ngIf="!playa.horaInicio || !playa.horaFin"><img src="assets/svg/horario.svg" id="horario">  {{'LIFEGUARD_SERVICE' | translate}}: {{'DESCONOCIDO' | translate}}</p>
    <!--Bandera azul-->
    
      <!-- Con Bandera azul-->
      <img src="assets/svg/bandera-agua.svg" id="bandera-a" *ngIf="playa.isBlueFlag"> 
      <p *ngIf="playa.isBlueFlag" id="bandera-a-texto"> {{'CON_BANDERA_AZUL' | translate}}</p>
          <!-- Sin Bandera azul-->
          <img src="assets/imgs/blueflag.svg" id="bandera-a" *ngIf="!playa.isBlueFlag">
    <p *ngIf="!playa.isBlueFlag" id="bandera-a-texto"> {{'SIN_BANDERA_AZUL' | translate}} </p>
     <!-- accesos -->
    <div id="acceso">
       <!--Playa con   accesos texto -->
       <p *ngIf="playa.haveDisabilityAccess" id="acces">{{'CON_ACCESOS' | translate}}</p>
        <!--Playa con accesos img -->
      <img src="assets/svg/acceso.svg" id="acceso-off" *ngIf="playa.haveDisabilityAccess">
    <!--Playa sin  accesos texto -->
    <p *ngIf="!playa.haveDisabilityAccess"  id="acces"  > {{'SIN_ACCESOS' | translate}}</p>
     <!--Playa sin  accesos img -->
    <img src="assets/svg/acceso-off.svg" id="acceso-off" *ngIf="!playa.haveDisabilityAccess">
  </div>
  </div>

  <ion-grid class="info-grid">
    <ion-row flex-wrap class="info-box-2-row">
      <ion-col width-50>
          <div class="info-box-2" block>
           
            <p class="info-box-2-title">{{'BANDERA' | translate}}</p>
           
            <img *ngIf="playa.flag === null" src="assets/svg/bandera-off.svg" class="info-icon" />
            
            <img *ngIf="playa.flag === 0" src="assets/svg/bandera-verde.svg" class="info-icon" />
            <img *ngIf="playa.flag == 1" src="assets/svg/bandera-amarilla.svg" class="info-icon" />
            <img *ngIf="playa.flag == 2" src="assets/svg/bandera-roja.svg" class="info-icon" />
            <p class="info-box-2-sub" *ngIf="playa.flag === null">{{'DESCONOCIDA' | translate}}</p>
            <p class="info-box-2-sub" *ngIf="playa.flag === 0">{{'VERDE' | translate}}</p>
            <p class="info-box-2-sub" *ngIf="playa.flag == 1">{{'AMARILLA' | translate}}</p>
            <p class="info-box-2-sub" *ngIf="playa.flag == 2">{{'ROJA' | translate}}</p>
            <!-- prueba aca circulo de detras del icono-->
            <div  class="prueba"></div>
          </div>
      </ion-col>
  
      <ion-col width-50>
       
        <div class="info-box-2" block>
          <div  class="prueba2"></div>
          <p class="info-box-2-title">{{'OCUPACION' | translate}}</p>
          
          <img *ngIf="playa.influxLvl === null" src="assets/svg/ocupacion-off.svg" class="info-icon" />
          <img *ngIf="playa.influxLvl === 0" src="assets/svg/ocupacion-baja.svg" class="info-icon" />
          <img *ngIf="playa.influxLvl == 1" src="assets/svg/ocupacion-media.svg" class="info-icon" />
          <img *ngIf="playa.influxLvl == 2" src="assets/svg/ocupacion-alta.svg" class="info-icon" />
          <ion-icon *ngIf="playa.influxLvl == 3" name="lock" color="dark" class="lock-icon"></ion-icon>
          <p class="info-box-2-sub" *ngIf="playa.influxLvl === null">{{'DESCONOCIDA' | translate}}</p>
          <p class="info-box-2-sub" *ngIf="playa.influxLvl === 0">{{'BAJA' | translate}}</p>
          <p class="info-box-2-sub" *ngIf="playa.influxLvl == 1">{{'MEDIA' | translate}}</p>
          <p class="info-box-2-sub" *ngIf="playa.influxLvl == 2">{{'ALTA' | translate}}</p>
          <p class="info-box-2-sub" *ngIf="playa.influxLvl == 3">{{'CERRADA' | translate}}</p>
        
        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap class="info-box-2-row">
      <ion-col width-50>
        <div class="info-box-2" block>
          <!-- circulo con grados dentro -->
          <!-- <div  class="prueba3"><p id="grados">{{playa.temperature}} ºC</p></div>-->
          <!-- pruebas aca circulo  -->
          <div  class="prueba3"></div>
          <p class="info-box-2-title">{{'TEMPERATURA' | translate}}</p>
          <img src="assets/svg/termometro.svg" class="info-icon" id= "termometro" />
          <p class="info-box-2-sub-temp"  *ngIf="playa.temperature">{{playa.temperature}} ºC <br> 5 UV</p>
          <!--{{ uv }} UV -->
          <p class="info-box-2-sub" *ngIf="!playa.temperature">{{'DESCONOCIDA' | translate}}<br></p>
        </div>
      </ion-col>
      <ion-col width-50>
        <div class="info-box-2" block>
           <!-- circulo con información del viento 
          <div  class="prueba4"><p id="velviento">{{playa.windSpeed}}km/h</p> </div> -->
            <!-- prueba aca circulo -->
          <!-- A div with a class of prueba4. -->
            <div  class="prueba4"></div>
          <!-- flechas del viento -->
          <p class="info-box-2-title">{{'D_VIENTO' | translate}}</p>
          <!-- flechas del viento -->
          <img  *ngIf="playa.windOrientation == 'N'" src="assets/svg/flecha-n.svg" class="info-icon"  >
          <img  *ngIf="playa.windOrientation == 'NE'" src="assets/svg/flecha-ne.svg" class="info-icon" id="flechaviento" >
          <img  *ngIf="playa.windOrientation == 'E'" src="assets/svg/flecha-e.svg" class="info-icon" >
          <img  *ngIf="playa.windOrientation == 'SE'" src="assets/svg/flecha-se.svg" class="info-icon" >
          <img  *ngIf="playa.windOrientation == 'S'" src="assets/svg/flecha-s.svg" class="info-icon" >
          <img  *ngIf="playa.windOrientation == 'SO'" src="assets/svg/flecha-so.svg" class="info-icon" >
          <img  *ngIf="playa.windOrientation == 'O'" src="assets/svg/flecha-o.svg" class="info-icon" >
          <img  *ngIf="playa.windOrientation == 'NO'" src="assets/svg/flecha-no.svg" class="info-icon" >
          <img  *ngIf="!playa.windOrientation" src="assets/svg/flecha-off.svg" class="info-icon" >
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'N'">{{'VIENTO_N' | translate}} <br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub-viento" *ngIf="playa.windOrientation == 'NE'">{{'VIENTO_NE' | translate}}
           <br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'E'">{{'VIENTO_E' | translate}} <br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'SE'">{{'VIENTO_SE' | translate}}<br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'S'">{{'VIENTO_S' | translate}}<br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'SO'">{{'VIENTO_SO' | translate}}<br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'O'">{{'VIENTO_O' | translate}}<br>{{playa.windSpeed}} km/h</p>
          <p class="info-box-2-sub" *ngIf="playa.windOrientation == 'NO'">{{'VIENTO_NO' | translate}}<br>{{playa.windSpeed}} km/h</p>
          
          <p class="info-box-2-sub" *ngIf="!playa.windOrientation">{{'DESCONOCIDA' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap class="info-box-2-row">
      <ion-col width-50>
        <div class="info-box-2" block>
          <p class="info-box-2-title">{{'MAREAS_TITLE' | translate}}</p>
          <img src="assets/svg/ola.svg" class="info-icon" />
          <p class="info-box-2-sub" *ngIf="playa.windSpeed">{{playa.windSpeed}}km/h</p>
          <p class="info-box-2-sub" *ngIf="!playa.windSpeed">{{'DESCONOCIDA' | translate}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="info-box-3">
    <div class="map-container">
      <ip-map #map></ip-map>
    </div>
    <p *ngIf="playa.island" class="link-par"><ion-icon name="link" color="primary"></ion-icon> <a class="link-text" (click)="openMareas()">{{'MAREAS_LINK' | translate}}</a></p>
    <p *ngIf="playa.id_sanidad" class="link-par"><ion-icon name="link" color="primary"></ion-icon> <a class="link-text" (click)="openSalud()">{{'INFO_SALUD' | translate}}</a></p>
    <p *ngIf="playa.aemet" class="link-par"><ion-icon name="link" color="primary"></ion-icon> <a class="link-text" (click)="openAemet()">{{'INFO_AEMET' | translate}}</a></p>
  </div>

</ion-content>