<ion-header>
  <ion-toolbar><img start src="assets/imgs/logo.png" class="toolbar-logo" />
  
    <button  ion-button class="toolbar-login" float="left" ><img src="assets/svg/idioma.svg" id="idioma"></button>
     <ion-buttons end>  
            <button id="login" ion-button class="toolbar-login" (click)="goToLogin()">
        {{'LOGIN' | translate}}
      </button></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce>
  <ion-tabs color="primary">
    <ion-tab tabIcon="custom-mapon" tabTitle="{{'MAPA' | translate}}" [root]="publicMap"></ion-tab>
    <ion-tab tabIcon="custom-liston" tabTitle="{{'LISTA' | translate}}" [root]="publicList"></ion-tab>
  </ion-tabs>
</ion-content>