page-home {
    .toolbar-logo {
        width: 150px;     
       margin-right: 5%;
       margin-left: 2%;
       margin-top: 5%;
    }
    .toolbar-login {
        background-color: transparent;
        height: 45px;		
        font-size: 16px;		
        margin-right: 10px;
        box-shadow: none;
        text-transform: none;
        white-space: pre-wrap;
        }
    #login{
        text-align: right;
        width: 100%;
    }
    #idioma{
        width: 70%;
        margin-left: 10%;
        height: 100% !important;
        font-size: 20px;
    }
  
}
