
<ion-content padding class="tab-content">
  
  <ion-fab right bottom>
      <button ion-fab (click)="newFlag()" color="primary" block><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <p *ngIf="reports.length == 0">No tiene informes de bandera hoy</p>
  
    <ion-row *ngFor="let report of reports" >
      <ion-col *ngIf="!report.sync && report.beach == user.playa.id" class="columna-principal"  col-12>
    
        <ion-row >
         <ion-col col-auto>
            <button ion-button icon-only class="basura" id="basura" (click)="copyFlag(report)" inline>
              <img src="../../assets/svg/basura.svg"  />
            </button>
            </ion-col>
            <ion-col  class="blanco" col-10 >

              
         <ion-col class="info"col-4>
          <a class="report-date" id="date">
            {{report.date.getDate()+'/'+(report.date.getMonth()+1)+'/'+report.date.getFullYear()}} 
            </a>
            <br>
              <ion-badge class="bolita green" *ngIf="report.flag == 0" id="bola"> </ion-badge>
              <ion-badge class="bolita yellow" *ngIf="report.flag == 1" id="bola"> </ion-badge>
              <ion-badge class="bolita red" *ngIf="report.flag == 2" id="bola"> </ion-badge>
            <br>
            <a class="report-hour" id="hour">{{addZero(report.date.getHours())+':'+addZero(report.date.getMinutes())}}.h</a>
          
          </ion-col>
          <ion-col class="button-group" col-6>
            
          <ion-col col-auto>
            <button ion-button icon-only class="report-button" id="descargar" (click)="copyFlag(report)" inline>
              <img src="../../assets/svg/descargar.svg" class="descargar" />
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button icon-only class="report-button" id="copiar" (click)="copyFlag(report)">
              <img src="../../assets/svg/copiar.svg" class="copiar" />
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button icon-only class="report-button" id="editar" (click)="editFlag(report)">
              <img src="../../assets/svg/editar.svg" class="editar" />
            </button>
          </ion-col>
          </ion-col>
            </ion-col>
        </ion-row>
      </ion-col>
  
    </ion-row>



    <ion-row *ngIf="syncNumber > 0"> <!--   SYNCC   -->
      <ion-col col-12 class="column">
        <ion-label stacked class="sincronizados" >SINCRONIZADOS</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let report of reports">
      <ion-col *ngIf="report.sync && report.beach == user.playa.id" class="columna-principal" col-12>
        <ion-row>
         
            <ion-col col-auto>
               <button ion-button icon-only class="basura" id="basura" (click)="copyFlag(report)" inline>
                 <img src="../../assets/svg/basura.svg"  />
               </button>
               </ion-col>
               <ion-col  class="blanco" col-10 >
   
                 
            <ion-col class="info"col-4>
             <a class="report-date" id="date">
               {{report.date.getDate()+'/'+(report.date.getMonth()+1)+'/'+report.date.getFullYear()}} 
               </a>
               <br>
                 <ion-badge class="bolita green" *ngIf="report.flag == 0" id="bola"> </ion-badge>
                 <ion-badge class="bolita yellow" *ngIf="report.flag == 1" id="bola"> </ion-badge>
                 <ion-badge class="bolita red" *ngIf="report.flag == 2" id="bola"> </ion-badge>
               <br>
               <a class="report-hour" id="hour">{{addZero(report.date.getHours())+':'+addZero(report.date.getMinutes())}}.h</a>
             
             </ion-col>
             <ion-col class="button-group" col-6>
               
             <ion-col col-auto>
               <button ion-button icon-only class="report-button" id="descargar" (click)="copyFlag(report)" inline>
                 <img src="../../assets/svg/descargar.svg" class="descargar" />
               </button>
             </ion-col>
             <ion-col col-auto>
               <button ion-button icon-only class="report-button" id="copiar" (click)="copyFlag(report)">
                 <img src="../../assets/svg/copiar.svg" class="copiar" />
               </button>
             </ion-col>
             <ion-col col-auto>
               <button ion-button icon-only class="report-button" id="editar" (click)="editFlag(report)">
                 <img src="../../assets/svg/editar.svg" class="editar" />
               </button>
             </ion-col>
             </ion-col>
               </ion-col>
       
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

















