page-flag-reports {
 
    .bolita {
        border-radius: 50%;
        padding:1.3vw;
      //  position: relative;left:2vw;
      float:left;
    }
    .green {
        background-color: color($colors, secondary);
    }
    .yellow {
        background-color: color($colors, yellowmellow);
    }
    .red {
        background-color: color($colors, danger);
    }

    .report-button {
        background-color: transparent;
        color: color($colors, dark);
        box-shadow: none;
        margin-left:4vw;
      
    }
  
    .report-date {
        font-weight:bold;
        font-size:3.5vw;
        text-align:center;
        position: relative;left: 6vw;top:1vw;

    }
      .report-hour{
       position: relative;bottom:1vw;
       left: 9vw; 
    }

    .sincronizados {
        font-size:2vw;
        text-align:center;
       
       
    }
    .blanco {
        background-color: color($colors, white);
        line-height:center;
        padding:0.3 0.3 0.3 0.3;
        padding-top: 2vw;
        padding-left: 1vw;
        width:50%;
        height:inherit;
        align-items: center;
    }
    .button-group{
      /*  position: relative;left:11vw;bottom:8.5vw;
        align-items: center;*/
       // float:right;
       // width:70vw;
       



    }
    .info{
        float:left;
    }
  
    #descargar, #copiar ,#editar{
        
        width:6.5vw;
      //  max-width:6.5vw;
        height:8vw;
        margin-left:4vw;
        
    }
     a{
         font-size:3vw;
        color:gray;
    }
    #basura{
        background-color: transparent;
        color: color($colors, dark);
        box-shadow: none;
        width:6.5vw;
        margin-top: 2vw;
        margin-left:1vw;
        margin-right:2vw;
        height:8vw;
    }

}

/*page-flag-reports {
 
    .bolita {
        border-radius: 50%;
        padding:1.3vw;
       
      
        position: relative;left:2vw;
    }
    .green {
        background-color: color($colors, secondary);
    }
    .yellow {
        background-color: color($colors, yellowmellow);
    }
    .red {
        background-color: color($colors, danger);
    }

    .report-button {
        background-color: transparent;
        color: color($colors, dark);
        box-shadow: none;
        margin-left:3.5vw;
      
    }
  
    .report-date {
        font-size:3vw;
        text-align:center;
       

    }
      .report-hour{
       position: relative;
    
    }

    #sincronizados {
        font-size:1.2em;
        text-align:center;
        position: relative;
    
    }
    .blanco {
        background-color: color($colors, white);
        line-height:center;
        padding:0.3 0.3 0.3 0.3;
        padding-top: 2vw;
        padding-left: 1vw;
        width:50%;
        height:18vw;
        align-items: center;
    }
    .button-group{
       
        align-items: center;

    }
  
    #descargar, #copiar ,#editar{
        width:6vw;
        max-width:8vw;
        
    }
     a{
         font-size:2.5vw;
        color:gray;
    }
    #basura{
        background-color: transparent;
        color: color($colors, dark);
        box-shadow: none;
        width:6vw;
        margin-top: 3vw;
        margin-left:2vw;
        margin-right:3vw;
    }
    .columna-principal{
        align-content: center;
        align-items: center;
    }
    
}*/
