<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{'MAREAS_TITLE' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let i of index">
    <ion-row flex-wrap>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'mon'">{{'LUNES' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'tue'">{{'MARTES' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'wed'">{{'MIERCOLES' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'thu'">{{'JUEVES' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'fri'">{{'VIERNES' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'sat'">{{'SABADO' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
      <div class="tb-day" *ngIf="tideArray[i].weekday == 'sun'">{{'DOMINGO' | translate}} {{tideArray[i].day}}/{{tideArray[i].month}}/{{tideArray[i].year}}</div>
    </ion-row>
    <ion-row flex-wrap>
      <ion-col col-6 class="col-border-first"> 
        <p class="low-tide">{{'MAREA_BAJA' | translate}}</p>
        <ion-row flex-wrap>
          <ion-col col-4> 
            <img src="assets/imgs/bajamar.png" class="tide-icon">
          </ion-col>
          <ion-col col-8>
            <p *ngIf="tideArray[i].tide['low_tide']" class="tide-info">
              <span class="low-tide-info">{{tideArray[i].tide['low_tide'].time}} h</span>
              <br>
              <span class="tide-meter">{{tideArray[i].tide['low_tide'].tideMeters}}m</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6 class="col-border-last"> 
        <p class="high-tide">{{'MAREA_ALTA' | translate}}</p>
        <ion-row flex-wrap>
          <ion-col col-4> 
            <img src="assets/imgs/pleamar.png" class="tide-icon">
          </ion-col>
          <ion-col col-8>
            <p *ngIf="tideArray[i].tide['high_tide']" class="tide-info">
              <span class="high-tide-info">{{tideArray[i].tide['high_tide'].time}} h</span>
              <br>
              <span class="tide-meter">{{tideArray[i].tide['high_tide'].tideMeters}}m</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> 
    <ion-row flex-wrap>
      <ion-col col-6> 
        <ion-row flex-wrap>
          <ion-col col-4> 
            <img *ngIf="tideArray[i].sun['sunset'] || tideArray[i].sun['sunrise']" src="assets/imgs/sol.png" class="sun-moon">
          </ion-col>
          <ion-col col-4> 
            <p *ngIf="tideArray[i].sun['sunrise']" class="tide-time"><img src="assets/imgs/up.png" class="arrow-icon"> {{tideArray[i].sun['sunrise'].time}}</p>
          </ion-col>
          <ion-col col-4> 
            <p *ngIf="tideArray[i].sun['sunset']" class="tide-time"><img src="assets/imgs/down.png" class="arrow-icon"> {{tideArray[i].sun['sunset'].time}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row flex-wrap>
          <ion-col col-4> 
            <img *ngIf="tideArray[i].sun['moonrise']" src="assets/imgs/luna.png" class="sun-moon">
          </ion-col>
          <ion-col col-8>
            <p *ngIf="tideArray[i].sun['moonrise']" class="tide-time"><img src="assets/imgs/up2.png" class="arrow-icon"> {{tideArray[i].sun['moonrise'].time}}</p>
          </ion-col>
        </ion-row>
      </ion-col> 
    </ion-row>    
  </ion-grid>
</ion-content>
