coastal-info-display {
  .container {
    width: 100vw;
    overflow-x: auto;
  }

  .header .tb-col {
    background-color:lightgrey;
  }

  .sun {
    background-color: #fff2cf;
  }

  .tb-day {
    padding: 18px;
    text-align: center;
    background-color: #CDD2E4;

    width: 100%;

    color: #253776;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.19px;
    text-transform: uppercase;
  }

  .tb-time {
    float:left;
    padding: 10px;
  }

  .first {
    width: 38%;
  }
  table {
    width:100vw;
  }

  .grid {
    padding: 0;
  }

  .col-border-first {
    border-bottom: solid 2px #D5DAE8;
    border-right: solid 1px #D5DAE8;
  }

  .col-border-last {
    border-bottom: solid 2px #D5DAE8;
    border-left: solid 1px #D5DAE8;
  }

  .tide-info {
    text-align: right;
    width: 50%;
    margin-top: 0;
  }

  .col {
    padding: 0;
  }

  .sun-moon {
    margin: auto;
    margin-top: 12px;
    display: block;
    height: 20px;
  }

  .tide-icon {
    margin-left: 20px;
    display: block;
    height: 32px;
  }

  .arrow-icon {
    height: 8px;
  }

  .low-tide {
    color: #0086C4;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    margin-left: 20px;
  }

  .low-tide-info {
    color: #0086C4;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.51px;
  }

  .high-tide {
    color: #FF4248;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    margin-left: 20px;
  }
  
  .high-tide-info {
    color: #FF4248;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.51px;
  }

  .tide-meter {
    color: #616161;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.16px;
  }

  .tide-time {
    color: #616161;
    font-weight: 600;
  }

}