// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary:    #0061bc,
  danger:     #e32c1d,
  secondary:  #39B567,
  light:      #f4f4f4,
  dark:       black,
  grey:       #EFEFEF,
  active-grey:#060606,
  white:      #FFFFFF,
  dark-grey:  #808080,
  yellowmellow:#f7a51e
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$tabs-ios-tab-font-size: 12px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;
$text-input-md-show-focus-highlight: false;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$toolbar-background: #0061BC;


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.ionic-selectable-documentation-configuration { 
  .modal-wrapper { 
    ionic-selectable-modal { 
      ion-header { 
        ion-toolbar { 
          // --background: var(--ion-color-dark); 
        } 
      } 
      ion-searchbar { 
        // --background: var(--ion-color-dark); 
        .searchbar-input { 
          background: white; 
          // color: #fff; 
          // box-shadow: unset; 
        } 
        .searchbar-search-icon { 
          // color: #fff; 
        } 
        .searchbar-clear-button { 
          // color: #fff; 
        } 
      } 
      ion-footer { 
        // background: var(--ion-color-dark); 
        ion-toolbar { 
          // --background: var(--ion-color-dark); 
          ion-button { 
            // display: inline-block !important; 
            // --background: var(--ion-color-warning); 
          } 
        } 
      } 
    } 
  } 
}