
<ion-content padding class="tab-content">
  
  <ion-fab right bottom>
      <button ion-fab (click)="newPeople()" color="primary" block><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <p *ngIf="reports.length == 0">No tiene informes de ocupación hoy</p>

    <ion-row *ngFor="let report of reports">
      <ion-col *ngIf="!report.sync && report.beach == user.playa.id" class="columna-principal" col-13>
        <ion-row>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/basura.svg" class="basura" />
            </button>
            </ion-col>
          <ion-col col-4>
            <p class="report-date">
              <ion-badge class="bolita green" *ngIf="report.lvl == 0"> </ion-badge>
              <ion-badge class="bolita yellow" *ngIf="report.lvl == 1"> </ion-badge>
              <ion-badge class="bolita red" *ngIf="report.lvl == 2"> </ion-badge>
              {{report.date.getDate()+'/'+(report.date.getMonth()+1)+'/'+report.date.getFullYear()}}
            </p>
            <p class="report-hour">{{addZero(report.date.getHours())+':'+addZero(report.date.getMinutes())}}.h</p>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/descargar.svg" class="descargar" />
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/copiar.svg" class="copiar" />
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="editPeople(report)">
              <img src="../../assets/svg/editar.svg" class="editar" />
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="syncNumber > 0">
      <ion-col col-3>
        <ion-label stacked id="sincronizados" >SINCRONIZADOS</ion-label>
        
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let report of reports">
      <ion-col *ngIf="report.sync && report.beach == user.playa.id" class="columna-principal" col-12>
        <ion-row>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/basura.svg" class="basura" />
            </button>
            </ion-col>
          <ion-col col-4>
            <p class="report-date">
              <ion-badge class="bolita green" *ngIf="report.lvl == 0"> </ion-badge>
              <ion-badge class="bolita yellow" *ngIf="report.lvl == 1"> </ion-badge>
              <ion-badge class="bolita red" *ngIf="report.lvl == 2"> </ion-badge>
              {{report.date.getDate()+'/'+(report.date.getMonth()+1)+'/'+report.date.getFullYear()}}
            </p>
            <p class="report-hour">{{addZero(report.date.getHours())+':'+addZero(report.date.getMinutes())}}.h</p>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/descargar.svg" class="descargar" />
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="copyPeople(report)">
              <img src="../../assets/svg/copiar.svg" class="copiar" />
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only class="report-button" (click)="editPeople(report)">
              <img src="../../assets/svg/editar.svg" class="editar" />
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>