page-people-reports {
   
    .bolita {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 4px;
        padding: 3px;
        position: relative;top:12px;right:5px;
    }
    .green {
        background-color: color($colors, secondary);
    }
    .bolita-yellow {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        font-size: 4px;
        padding: 3px;
        background-color: color($colors, yellowmellow);
    }
    .red {
      
        background-color: color($colors, danger);
    }
    .report{
        text-align: center;
    }
    .report-button {
        background-color: transparent;
        color: color($colors, dark);
        box-shadow: none;
    }
    .report-date {
        font-weight: bold;
        text-align: center;
    }
    .report-hour{
        text-align:center;
    }
    .columna-principal {
        background-color: color($colors, white);
        position: relative;
       
    }
    .button{
        position:relative;
        top:20%;
        width: 50%;
    }
    #sincronizados {
        font-size:1.2em;
        text-align:center;
        position: relative;
        margin-left: 24px;
       
    }
    .columna-principal{
        margin-top: 5%;
    }
}
