<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Persona {{index+1}}</ion-title>
    <ion-buttons right>
        <button ion-button icon-only class="submit-button" (click)="setAffectedPeople(affectedForm.value)" [disabled]="!affectedForm.valid"><img src="../../assets/svg/guardar.svg" id="guardar"/></button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <form [formGroup]="affectedForm">
    <ion-input hidden type="text" [formControl]="gender"></ion-input>
    <ion-label class="affected-label">GÉNERO</ion-label>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col col-6>
            <button ion-button (click)="changeGender('male')" id="gender-male" class="yesno-button" block icon-left>
              <img src="../../assets/svg/masc.svg" id="guardar"/>Masculino
            </button>
        </ion-col>
        <ion-col col-6>
            <button ion-button (click)="changeGender('female')" id="gender-female" class="yesno-button" block icon-left>
              <img src="../../assets/svg/fem.svg" id="guardar"/>Femenino
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines>
      <ion-label stacked>EDAD</ion-label>
      <ion-input type="number" pattern="[0-9]*" [formControl]="age"></ion-input>
      <!-- <ion-input type="number" [formControl]="age"></ion-input> -->
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>NACIONALIDAD</ion-label>
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="country"
          [items]="paises"
          [canSearch]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Residente</ion-label>
      <ion-checkbox [formControl]="residente" (ionChange)="changeResident()"></ion-checkbox>
    </ion-item>
    <ion-item no-lines *ngIf="isResident">
      <ion-label stacked>MUNICIPIO RESIDENCIA</ion-label>
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="municipality"
          [items]="municipios"
          [canSearch]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>SUSTANCIAS LIMITANTES</ion-label>
      <!-- <ion-select multiple="true" [formControl]="substance">
        <ion-option *ngFor="let item of sustancias" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="substance"
          [items]="sustancias"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>PERFIL</ion-label>
      <ion-select [formControl]="profile">
        <ion-option *ngFor="let item of perfiles" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-input hidden type="text" [formControl]="typeIntervention"></ion-input>
    <ion-label class="affected-label">SELECCIONE INTERVENCIÓN</ion-label>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col col-6>
            <button ion-button (click)="changeTypeIntervention(0)" id="typeInt-0" class="type-button" block>
              <img src="assets/imgs/primeros-aux.png" class="img-icon" />
            </button>
            <p class="button-footer">Primeros Auxilios</p>
        </ion-col>
        <ion-col col-6>
            <button ion-button (click)="changeTypeIntervention(1)" id="typeInt-1" class="type-button" block>
              <img src="assets/imgs/rescate.png" class="img-icon" />
            </button>
            <p class="button-footer">Rescate Acuático</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines *ngIf="typeIntervention.value == 1">
      <ion-label stacked>MOTIVOS RESCATE ACUÁTICO</ion-label>
      <!-- <ion-select multiple="true" [formControl]="rescueReason">
        <ion-option *ngFor="let item of motivosRescate" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="rescueReason"
          [items]="motivosRescate"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-input hidden type="text" [formControl]="requireFirstAid"></ion-input>
    <ion-label *ngIf="typeIntervention.value == 1" class="affected-label">REQUIERE PRIMEROS AUXILIOS</ion-label>
    <ion-grid *ngIf="typeIntervention.value == 1">
      <ion-row flex-wrap>
        <ion-col col-6>
          <button ion-button (click)="changeRequireFirstAids(true)" id="require-true" class="yesno-button" block>SÍ</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button (click)="changeRequireFirstAids(false)" id="require-false" class="yesno-button" block>NO</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="typeIntervention.value === 0 || requireFirstAid.value" no-lines>
      <ion-label stacked>MOTIVOS PRIMEROS AUXILIOS</ion-label>
      <!-- <ion-select multiple="true" [formControl]="firstAidReason">
        <ion-option *ngFor="let item of motivosAuxilio" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="firstAidReason"
          [items]="motivosAuxilio"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item *ngIf="typeIntervention.value === 0 || requireFirstAid.value" no-lines>
      <ion-label stacked>CAUSAS</ion-label>
      <!-- <ion-select multiple="true" [formControl]="firstAidCauses">
        <ion-option *ngFor="let item of causasAuxilio" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="firstAidCauses"
          [items]="causasAuxilio"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-input hidden type="text" [formControl]="usedDesa"></ion-input>
    <ion-label *ngIf="typeIntervention.value === 0 || requireFirstAid.value" class="affected-label">USO DESA</ion-label>
    <ion-grid *ngIf="typeIntervention.value === 0 || requireFirstAid.value">
      <ion-row flex-wrap>
        <ion-col col-6>
          <button ion-button (click)="changeUsedDesa(true)" id="desa-true" class="yesno-button" block>SÍ</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button (click)="changeUsedDesa(false)" id="desa-false" class="yesno-button" block>NO</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-input hidden type="text" [formControl]="emergencyGrade"></ion-input>
    <ion-label class="affected-label">NIVEL DE GRAVEDAD</ion-label>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col col-3>
          <button ion-button (click)="changeEmergencyGrade(0)" id="grade-0" class="type-button verde" block>
            <ion-icon name="warning"></ion-icon>
          </button>
          <p class="button-footer">Ileso</p>
        </ion-col>
        <ion-col col-3>
          <button ion-button (click)="changeEmergencyGrade(1)" id="grade-1" class="type-button amarillo" block>
            <ion-icon name="warning"></ion-icon>
          </button>
          <p class="button-footer">Leve</p>
        </ion-col>
        <ion-col col-3>
          <button ion-button (click)="changeEmergencyGrade(2)" id="grade-2" class="type-button rojo" block>
            <ion-icon name="warning"></ion-icon>
          </button>
          <p class="button-footer">Grave</p>
        </ion-col>
        <ion-col col-3>
          <button ion-button (click)="changeEmergencyGrade(3)" id="grade-3" class="type-button negro" block>
            <ion-icon name="warning"></ion-icon>
          </button>
          <p class="button-footer">Éxitus</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines *ngIf="situation !== 0">
      <ion-label stacked>TRASLADO A</ion-label>
      <ion-select [formControl]="translationCenter">
        <ion-option *ngFor="let item of traslados" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-input hidden type="text" [formControl]="highVolunteer" *ngIf="situation !== 0"></ion-input>
    <ion-label class="affected-label" *ngIf="situation !== 0">ALTA VOLUNTARIA</ion-label>
    <ion-grid *ngIf="situation !== 0">
      <ion-row flex-wrap>
        <ion-col col-6>
          <button ion-button (click)="changeHighVolunteer(true)" id="high-true" class="yesno-button" block>SÍ</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button (click)="changeHighVolunteer(false)" id="high-false" class="yesno-button" block>NO</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  
  <div *ngIf="gender.hasError('required')" class="error-box">&nbsp;* Introduzca Género</div>
  <div *ngIf="age.hasError('required')" class="error-box">&nbsp;* Introduzca Edad</div>
  <div *ngIf="country.hasError('required')" class="error-box">&nbsp;* Introduzca País</div>
  <div *ngIf="municipality.hasError('required')" class="error-box">&nbsp;* Introduzca Municipio</div>
  <div *ngIf="profile.hasError('required')" class="error-box">&nbsp;* Introduzca Perfil</div>
  <div *ngIf="typeIntervention.hasError('required')" class="error-box">&nbsp;* Introduzca Tipo de intervención</div>
  <div *ngIf="emergencyGrade.hasError('required')" class="error-box">&nbsp;* Introduzca Nivel de gravedad</div>
  <div *ngIf="highVolunteer.hasError('required')" class="error-box">&nbsp;* Introduzca Alta voluntaria</div>
  <div *ngIf="rescueReason.hasError('required')" class="error-box">&nbsp;* Introduzca Motivo del rescate</div>
  <div *ngIf="requireFirstAid.hasError('required')" class="error-box">&nbsp;* Introduzca Requiere primeros auxilios</div>
  <div *ngIf="firstAidReason.hasError('required')" class="error-box">&nbsp;* Introduzca Motivo primeros auxilios</div>
  <div *ngIf="firstAidCauses.hasError('required')" class="error-box">&nbsp;* Introduzca Causas primeros auxilios</div>
  <div *ngIf="usedDesa.hasError('required')" class="error-box">&nbsp;* Introduzca Uso DESA</div>

</ion-content>