page-affected-form {

      .submit-button {
        width: 90%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
      }
      #guardar{
        fill: white;
        color: rgb(255, 255, 255);
        height: 90%;
      }
      .idcard{
        height: 100%;
      }

      .location-content {
        margin-top: 0% !important;
      }

      ion-item {
        background-color: transparent !important;
      }

      .type-button {
        background-color: color($colors, white);
        box-shadow: none;
        border: none;
        height: 94px;
        border-radius: 5%;
      }

      .type-button .img-icon {
        height: 43px;
      }

      .verde {
        color: color($colors, secondary) !important;
      }

      .amarillo {
        color: color($colors, yellowmellow) !important;
      }

      .rojo {
        color: color($colors, danger) !important;
      }

      .negro {
        color: black !important;
      }

      .type-button ion-icon {
        zoom: 3;
      }

      .yesno-button {
        background-color: color($colors, white);
        color: color($colors, dark-grey);
        box-shadow: none;
        border: none;
        height: 61px;
        font-size: 15px;
        font-weight: 600;
      }

      .button-active {
        border: solid 2px color($colors, primary);
        color: color($colors, primary);
      }

      .affected-label {
        margin-left: 10px;
      }

      .button-footer {
        text-align: center;
      }

      .error-box {
        color: red;
        margin-left: 10px;
      }

}