// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-input {
    background: color($colors, white);
    color: color($colors, dark);
    padding-left: 13px !important;
    padding-top: 10px !important;
    min-height: 55px !important;
    caret-color: color($colors, dark);
}

ion-input:focus-within {
   border: 1px solid color($colors, primary) !important;
}

ion-datetime {
    background: color($colors, white);
    color: color($colors, dark);
    padding-left: 13px !important;
    padding-top: 10px !important;
    min-height: 55px !important;
    caret-color: color($colors, dark);
}

.datetime-text {
    margin-top: 10px;
}

ion-datetime:focus-within {
   border: 1px solid color($colors, primary) !important;
}

ion-select {
    background: color($colors, white);
    color: color($colors, dark);
    padding-left: 13px !important;
    padding-right: 21px !important;
    padding-top: 17px !important;
    min-height: 55px !important;
}

ion-select:focus-within {
   border: 1px solid color($colors, primary) !important;
}

ionic-selectable {
    background: color($colors, white);
    color: color($colors, dark);
    padding-left: 13px !important;
    padding-right: 21px !important;
    padding-top: 17px !important;
    min-height: 55px !important;
    width: 100%;
}

ionic-selectable:focus-within {
   border: 1px solid color($colors, primary) !important;
}

ion-label {
    height: 19px;	
    width: 315px;	
    color: #83878F;	
    font-size: 14px;	
    font-weight: 600;	
    letter-spacing: 0.23px;	
    line-height: 19px;
}

ion-content {
    background-color: color($colors, grey) !important;
    //margin-top:3%;
}

ion-title {
    text-align: center;
}
.searchbar-search-icon{
    margin-left: 3% !important;
}
ion-searchbar{
    input{
        margin-left: 3%;
        padding-left:3%;
        width: 94%!important;
        border-radius:15px !important;
        margin-bottom:1%;
    }
}
.top{
        width:90% !important;
        border-top-left-radius:15px !important;
        border-top-right-radius: 15px !important;
        margin-bottom:-1%;
        margin-left: 5%;
        margin-right: 1%;
    }
.bottom{
        width:90% !important;
        border-bottom-left-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
        margin-left: 5%;
        margin-right: 1%;
    }  
ion-icon{
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1.3em;
      height: 1.3em;
      
    }
    &[class*="custom-mapon"] {
        mask-image:url(../assets/svg/mapa-on.svg);
      }
      &[class*="custom-liston"] {
        mask-image:url(../assets/svg/lista-on.svg);
      }
      &[class*="custom-bandera"] {
        mask-image:url(../assets/svg/bandera-on.svg);
      }
      &[class*="custom-Language"] {
        mask-image:url(../assets/svg/idioma.svg);
      }
      &[class*="custom-ocupacion"] {
        mask-image:url(../assets/svg/ocupacion-on.svg);
      }
      &[class*="custom-incidencia"] {
        mask-image:url(../assets/svg/incidencia-on.svg);
      }
}
ion-header::after, [tabsPlacement=“top”] > ion-tabbar::after, ion-footer::before, [tabsPlacement=“bottom”] > ion-tabbar::before {
    background-image: none !important;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none !important;
}

.tabs-ios[tabsPlacement=top] .tabbar {
    border-bottom: 0;
}