<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Informe Bandera</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="setFlagReport(flagForm.value)" [disabled]="!flagForm.valid">
          <img src="../../assets/svg/guardar.svg" id="guardar"/>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <form [formGroup]="flagForm">
    <ion-input hidden type="text" [formControl]="flag"></ion-input>
    <ion-label class="flag-label">COLOR BANDERA</ion-label>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col width-33>
            <button ion-button (click)="changeFlag(2)" id="flag-2" class="flag-button" block>
                <img src="assets/svg/bandera-roja.svg" class="icon" />
            </button>
            <p class="flag-footer">Roja</p>
        </ion-col>
        <ion-col width-33>
            <button ion-button (click)="changeFlag(1)" id="flag-1" class="flag-button" block>
                <img src="assets/svg/bandera-amarilla.svg" class="icon" />
            </button>
            <p class="flag-footer">Amarilla</p>
        </ion-col>
        <ion-col width-33>
            <button ion-button (click)="changeFlag(0)" id="flag-0" class="flag-button" block>
                <img src="assets/svg/bandera-verde.svg" class="icon" />
            </button>
            <p class="flag-footer">Verde</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines id="motivo">
      <ion-label stacked>MOTIVO</ion-label>
      <ion-select [formControl]="reason">
        <ion-option *ngFor="let motivo of motivos" value="{{motivo}}">{{motivo}}</ion-option>
      </ion-select>
    </ion-item>
    <div id="hora">
    <ion-item id="horaizado">
      <ion-label stacked>HORA IZADO</ion-label>
      <ion-datetime displayFormat="HH:mm" [formControl]="date"></ion-datetime>
    </ion-item>
  
    <ion-item  id="horaarriado">
      <ion-label stacked >HORA ARRIADO</ion-label>
      <ion-datetime displayFormat="HH:mm" [formControl]="dateArriado"></ion-datetime>
    </ion-item>
  </div>
  <div id="banderas">
    <ion-input hidden type="text" [formControl]="flagExtra"></ion-input>
    <ion-label class="flag-label">BANDERA COMPLEMENTARIA</ion-label>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col width-25>
            <button ion-button (click)="changeFlagExtra(0)" id="flag-extra-0" inline>
              <img src="assets/imgs/zona-peligrosa.png" class="icon-double" />
            </button>
            <button ion-button (click)="changeFlagExtra(1)" id="flag-extra-1"  inline>
              <img src="assets/imgs/zona-segura.png" class="icon-double" />
            </button>
            <button ion-button (click)="changeFlagExtra(2)" id="flag-extra-2"  inline>
              <img src="assets/imgs/area-actividades.png" class="icon-double" />
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="peligro">
    <button ion-button (click)="changeFlagExtra(3)" id="flag-extra-3" >
      <img src="assets/imgs/peligro-indefinido.png" class="icon" />
  </button>
    <ion-item  id="peligroespecifico">
      <ion-label stacked>PELIGRO ESPECÍFICO</ion-label>
      <ion-select id="selectpeligro" [formControl]="dangerReason" placeholder="Indique peligro específico">
        <ion-option *ngFor="let peligro of peligros" value="{{peligro}}">{{peligro}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

    <div id="temperatura-agua">
      
      <ion-label stacked  class="flag-label" >TEMP.AGUA</ion-label>
      <ion-grid>
        <ion-input type="number" min="-20" max="50" step="1" pin="true" [formControl]="temperature">{{temperature.value}}º</ion-input>
      </ion-grid>
    </div>
    <div id="temperatura-ambiente">
      <ion-label  stacked class="flag-label">TEMP.ºC</ion-label>
      <ion-grid>
          <ion-input type="number" min="-20" max="50" step="1" pin="true" [formControl]="temperature">{{temperature.value}}º</ion-input>
      </ion-grid>
    </div> 
    <div id="viento">
      <ion-label stacked class="flag-label">V. VIENTO (KM/H)</ion-label>
      <ion-grid>
        <ion-input type="number" min="0" max="320" step="1" pin="true" snaps="true" [formControl]="windSpeed">{{windSpeed.value}}º</ion-input>
      </ion-grid>
    </div>

  <div id="orientacion-v">
    <ion-item no-lines id="orientacio-viento">
      <ion-label stacked>O.VIENTO</ion-label>
      <ion-select [formControl]="windOrientation">
        <ion-option>N</ion-option>
        <ion-option>NE</ion-option>
        <ion-option>E</ion-option>
        <ion-option>SE</ion-option>
        <ion-option>S</ion-option>
        <ion-option>SO</ion-option>
        <ion-option>O</ion-option>
        <ion-option>NO</ion-option>
      </ion-select>
    </ion-item>
  </div>
    <!--  <ion-item no-lines id="ocupacion-inicial">
      <ion-label stacked>OCUPACION INICIAL</ion-label>
    <ion-select [formControl]="">
        <ion-option>Baja</ion-option>
        <ion-option>Media</ion-option>
        <ion-option>Alta</ion-option>
        <ion-option>Cerrada</ion-option>
      </ion-select>-->
    <ion-item no-lines id="observaciones">
      <ion-label stacked>OBSERVACIONES</ion-label>
      <ion-input type="text" [formControl]="observation"></ion-input>
    </ion-item>
 <br>
  </form>
  <div *ngIf="flag.hasError('required')" class="error-box">&nbsp;* Introduzca Color Bandera</div>
  <div *ngIf="reason.hasError('required')" class="error-box">&nbsp;* Introduzca Motivo</div>
  <div *ngIf="windOrientation.hasError('required')" class="error-box">&nbsp;* Introduzca Orientación del viento</div>

</ion-content>