page-flag-form {
  @media (max-width: 399px){
  .submit-button {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 55px !important;
      font-size: 20px;
    }
    #guardar{
      fill: white;
      color: rgb(255, 255, 255);
      height: 90%;
    }
    .idcard{
      height: 100%;
    }
    #motivo{
      width: 98%;
    }
    #horaizado, #horaarriado{
      width: 46%;
      margin-right: 0;
      position: relative;
      margin-top: 2%;
    }
    #textarriado{
      right: 65%;
    }
    #horaarriado{
      left:50%;
      margin-top: -23.3%;
      position: relative;
    }
    #motivo{
      margin-top:-5%;
    }
    .location-content {
      margin-top: 0% !important;
    }

    ion-item {
      background-color: transparent !important;
    }

    .flag-button {
      background-color: color($colors, white);
      box-shadow: none;
      border: none;
      height: 82px;
      width:80%;
      border-radius: 20%;
      margin-left: 10%;
      margin-top: -12%;
    }

    .flag-button .icon {
      height: 43px;
    }

    .flag-button .icon-double {
      height: 37px;
    }

    .flag-button-active {
      border: solid 2px color($colors, primary);
    }

    .flag-label {
      margin-left: 10px;
    }

    .flag-footer {
      text-align: center;
    }

    .error-box {
      color: red;
      margin-left: 10px;
    }

    .range-label {
      font-size: 20px;
    }
    #flag-extra-0 {
      background-color: color($colors, white);
      width: 30%;
      border-radius: 10%;  
      margin-top: -4%;  
      margin-left: 2%;
      height: 80px;
    }
    #flag-extra-1{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%; 
      margin-top: -4%; 
      height: 80px; 
    }
    #flag-extra-2{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%;   
      margin-top: -4%; 
      height: 80px 
    }
    #flag-extra-3{
      background-color: color($colors, white);
      border-radius: 10%;
      width:18%;
      margin-left: 4%;
      margin-top: 2%;
      position: relative;
      height: 60px;
    }

    #peligroespecifico{
      width:75%;
      position: relative;
      display: block;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-top: -25%;
      
    }
    #peligro{
      margin-top: 2%;
      position: relative;
      display: block;
      margin-left: 2%;
      margin-bottom: 1%;
    
    } 
    #banderas{
      margin-top: 5%;
      position: relative;
      display: block;
    }
    #hora{
      display: relative;
      height:fit-content;
      margin-top: -2%;
    }
    
    #temperatura-agua{
      width: 28%;  
      position: relative;
      display: block;
      float: inline-start;
      margin-top: -4%;
      margin-left: 2%;
    }
    #temperatura-ambiente{
      width: 28%;
      height: 112px;
      position: relative;
      display: block;
     float: inline-start;
     margin-left: 5%;
     margin-top: -4%;
    }
    #viento{
      width: 28%;
      position: relative;
      display: block;
      float: inline-end;
      margin-right: 5%;
      margin-top: -4%;
    }
    #orientacion-v{
      width: 25%;
      margin-left: 0.5%;
      position: relative;
      display: block;
    }
    #observaciones{
     margin-right: 5%;
    }

  }
  @media (max-width: 450px)and (min-width: 400px){
    .submit-button {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 55px !important;
      font-size: 20px;
    }
    #guardar{
      fill: white;
      color: rgb(255, 255, 255);
      height: 90%;
    }
    .idcard{
      height: 100%;
    }
    #motivo{
      width: 98%;
    }
    #horaizado, #horaarriado{
      width: 46%;
      margin-right: 0;
      position: relative;
      margin-top: 2%;
    }
    #textarriado{
      right: 65%;
    }
    #horaarriado{
      left:50%;
      float: left;
      position: relative;
      margin-top: -19.5%;
    }
    #motivo{
      margin-top:-5%;
    }
    .location-content {
      margin-top: 0% !important;
    }

    ion-item {
      background-color: transparent !important;
    }

    .flag-button {
      background-color: color($colors, white);
      box-shadow: none;
      border: none;
      height: 82px;
      width:80%;
      border-radius: 20%;
      margin-left: 10%;
      margin-top: -12%;
    }

    .flag-button .icon {
      height: 43px;
    }

    .flag-button .icon-double {
      height: 37px;
    }

    .flag-button-active {
      border: solid 2px color($colors, primary);
    }

    .flag-label {
      margin-left: 10px;
    }

    .flag-footer {
      text-align: center;
    }

    .error-box {
      color: red;
      margin-left: 10px;
    }

    .range-label {
      font-size: 20px;
    }
    #flag-extra-0 {
      background-color: color($colors, white);
      width: 30%;
      border-radius: 10%;  
      margin-top: -4%;  
      margin-left: 2%;
      height: 80px;
    }
    #flag-extra-1{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%; 
      margin-top: -4%; 
      height: 80px; 
    }
    #flag-extra-2{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%;   
      margin-top: -4%; 
      height: 80px 
    }
    #flag-extra-3{
      background-color: color($colors, white);
      border-radius: 10%;
      width:18%;
      margin-left: 4%;
      margin-top: 2%;
      position: relative;
      height: 60px;
    }

    #peligroespecifico{
      width:75%;
      position: relative;
      display: block;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-top: -20%;
    }
    #peligro{
      margin-top: 2%;
      position: relative;
      display: block;
      margin-left: 2%;
    } 
    #banderas{
      margin-top: 5%;
      position: relative;
      display: block;
    }
    #hora{
      display: relative;
      height:fit-content;
      margin-top: -2%;
    
    }
    #temperatura-agua{
      width: 28%;  
      position: relative;
      display: block;
      float: inline-start;
      margin-top: -4%;
      margin-left: 2%;
    }
    #temperatura-ambiente{
      width: 28%;
      height: 112px;
      position: relative;
      display: block;
     float: inline-start;
     margin-left: 5%;
     margin-top: -4%;
    }
    #viento{
      width: 28%;
      position: relative;
      display: block;
      float: inline-end;
      margin-right: 5%;
      margin-top: -4%;
    }
    #orientacion-v{
      width: 25%;
      margin-left: 0.5%;
      position: relative;
      display: block;
    }
    #observaciones{
      margin-right: 2%;
      width: 98%;
     }
    
  }
  @media (max-width: 550px)and (min-width: 451px){
    .submit-button {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 55px !important;
      font-size: 20px;
    }
    #guardar{
      fill: white;
      color: rgb(255, 255, 255);
      height: 90%;
    }
    .idcard{
      height: 100%;
    }
    #motivo{
      width: 98%;
    }
    #horaizado, #horaarriado{
      width: 46%;
      margin-right: 0;
      position: relative;
      margin-top: 2%;
    }
    #textarriado{
      right: 65%;
    }
    #horaarriado{
      left:50%;
      margin-top: -17%;
      position: relative;
    }
    #motivo{
      margin-top:-5%;
    }
    .location-content {
      margin-top: 0% !important;
    }

    ion-item {
      background-color: transparent !important;
    }

    .flag-button {
      background-color: color($colors, white);
      box-shadow: none;
      border: none;
      height: 82px;
      width:80%;
      border-radius: 20%;
      margin-left: 10%;
      margin-top: -12%;
    }

    .flag-button .icon {
      height: 43px;
    }

    .flag-button .icon-double {
      height: 37px;
    }

    .flag-button-active {
      border: solid 2px color($colors, primary);
    }

    .flag-label {
      margin-left: 10px;
    }

    .flag-footer {
      text-align: center;
    }

    .error-box {
      color: red;
      margin-left: 10px;
    }

    .range-label {
      font-size: 20px;
    }
    #flag-extra-0 {
      background-color: color($colors, white);
      width: 30%;
      border-radius: 10%;  
      margin-top: -4%;  
      margin-left: 2%;
      height: 80px;
    }
    #flag-extra-1{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%; 
      margin-top: -4%; 
      height: 80px; 
    }
    #flag-extra-2{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%;   
      margin-top: -4%; 
      height: 80px 
    }
    #flag-extra-3{
      background-color: color($colors, white);
      border-radius: 10%;
      width:15%;
      margin-left: 4%;
      margin-top: 1%;
      position: relative;
      height: 60px;
    }

    #peligroespecifico{
      width:75%;
      position: relative;
      display: block;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-top: -17%;
    }
    #peligro{
      margin-top: 1%;
      position: relative;
      display: block;
      margin-left: 1%;
    } 
    #banderas{
      margin-top: 5%;
      position: relative;
      display: block;
    }
    #hora{
      display: relative;
      height:fit-content;
      margin-top: -2%;
    
    }
    #temperatura-agua{
      width: 28%;  
      position: relative;
      display: block;
      float: inline-start;
      margin-top: -4%;
      margin-left: 2%;
    }
    #temperatura-ambiente{
      width: 28%;
      height: 112px;
      position: relative;
      display: block;
     float: inline-start;
     margin-left: 5%;
     margin-top: -4%;
    }
    #viento{
      width: 28%;
      position: relative;
      display: block;
      float: inline-end;
      margin-right: 5%;
      margin-top: -4%;
    }
    #orientacion-v{
      width: 25%;
      margin-left: 0.5%;
      position: relative;
      display: block;
    }
    #observaciones{
      width: 98%;
    }

  } 
  @media (max-width:650px) and (min-width:551px) {
    .submit-button {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 55px !important;
      font-size: 20px;
    }
    #guardar{
      fill: white;
      color: rgb(255, 255, 255);
      height: 90%;
    }
    .idcard{
      height: 100%;
    }
    #motivo{
      width: 98%;
    }
    #horaizado, #horaarriado{
      width: 46%;
      margin-right: 0;
      position: relative;
      margin-top: 2%;
    }
    #textarriado{
      right: 65%;
    }
    #horaarriado{
      left:50%;
      margin-top: -17%;
      position: relative;
    }
    #motivo{
      margin-top:-5%;
    }
    .location-content {
      margin-top: 0% !important;
    }

    ion-item {
      background-color: transparent !important;
    }

    .flag-button {
      background-color: color($colors, white);
      box-shadow: none;
      border: none;
      height: 82px;
      width:80%;
      border-radius: 20%;
      margin-left: 10%;
      margin-top: -12%;
    }

    .flag-button .icon {
      height: 43px;
    }

    .flag-button .icon-double {
      height: 37px;
    }

    .flag-button-active {
      border: solid 2px color($colors, primary);
    }

    .flag-label {
      margin-left: 10px;
    }

    .flag-footer {
      text-align: center;
    }

    .error-box {
      color: red;
      margin-left: 10px;
    }

    .range-label {
      font-size: 20px;
    }
    #flag-extra-0 {
      background-color: color($colors, white);
      width: 30%;
      border-radius: 10%;  
      margin-top: -4%;  
      margin-left: 2%;
      height: 80px;
    }
    #flag-extra-1{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%; 
      margin-top: -4%; 
      height: 80px; 
    }
    #flag-extra-2{
      background-color: color($colors, white);
      width:30%;
      border-radius: 10%;   
      margin-top: -4%; 
      height: 80px 
    }
    #flag-extra-3{
      background-color: color($colors, white);
      border-radius: 10%;
      width:15%;
      margin-left: 4%;
      margin-top: 1%;
      position: relative;
      height: 60px;
    }

    #peligroespecifico{
      width:75%;
      position: relative;
      display: block;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-top: -17%;
    }
    #peligro{
      margin-top: 1%;
      position: relative;
      display: block;
      margin-left: 1%;
    } 
    #banderas{
      margin-top: 5%;
      position: relative;
      display: block;
    }
    #hora{
      display: relative;
      height:fit-content;
      margin-top: -2%;
    
    }
    #temperatura-agua{
      width: 28%;  
      position: relative;
      display: block;
      float: inline-start;
      margin-top: -4%;
      margin-left: 2%;
    }
    #temperatura-ambiente{
      width: 28%;
      height: 112px;
      position: relative;
      display: block;
     float: inline-start;
     margin-left: 5%;
     margin-top: -4%;
    }
    #viento{
      width: 28%;
      position: relative;
      display: block;
      float: inline-end;
      margin-right: 5%;
      margin-top: -4%;
      margin-top: -18%;
    }
    #orientacion-v{
      width: 25%;
      margin-left: 0.5%;
      position: relative;
      display: block;
    }
    #observaciones{
      width: 98%;
    }
  }
  @media (max-width:1000px) and (min-width:651px){
    .submit-button {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 55px !important;
      font-size: 20px;
    }
    #guardar{
      fill: white;
      color: rgb(255, 255, 255);
      height: 90%;
    }
    .idcard{
      height: 100%;
    }
    #motivo{
      width: 98%;
    }
    #horaizado, #horaarriado{
      width: 45%;
      margin-right: 0;
      position: relative;
      margin-top: 2%;
    }
    #textarriado{
      right: 65%;
    }
    #horaarriado{
      left:50%;
      margin-top: -11%;
      position: relative;
    }
    #motivo{
      margin-top:2%;
      width: 95%;
    }
    .location-content {
      margin-top: 0% !important;
    }

    ion-item {
      background-color: transparent !important;
    }

    .flag-button {
      background-color: color($colors, white);
      box-shadow: none;
      border: none;
      height: 100%;
      width:60%;
      border-radius: 5%;
      margin-left: 20%;
     
    }

    .flag-button .icon {
      height: 43px;
    }

    .flag-button .icon-double {
      height: 37px;
    }

    .flag-button-active {
      border: solid 2px color($colors, primary);
    }

    .flag-label {
      margin-left: 10px;
    }

    .flag-footer {
      text-align: center;
    }

    .error-box {
      color: red;
      margin-left: 10px;
    }

    .range-label {
      font-size: 20px;
    }
    #flag-extra-0 {
      background-color: color($colors, white);
      width: 25%;
      border-radius: 10%;     
      margin-left: 2%;
      height: 100%;
    }
    #flag-extra-1{
      background-color: color($colors, white);
      width: 25%;
      border-radius: 10%;  
      margin-left: 8%;
      height: 100%; 
    }
    #flag-extra-2{
      background-color: color($colors, white);
      width: 25%;
      border-radius: 10%;  
      margin-left: 8%;
      height: 100%; 
    }
    #flag-extra-3{
      background-color: color($colors, white);
      border-radius: 10%;
      width:15%;
      margin-left: 2%;
      position: relative;
      height: auto;
    }

    #peligroespecifico{
      width:75%;
      position: relative;
      display: block;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-top: -12%;
    }
    #peligro{
      margin-top: -6%;
      position: relative;
      display: block;
      margin-left: 1%;
    } 
    #banderas{
      margin-top: 5%;
      position: relative;
      display: block;
      margin-bottom: 10%;
    }
    #hora{
      display: relative;
      height:fit-content;
      margin-top: -2%;
    }
    #temperatura-agua{
      width: 28%;  
      position: relative;
      display: block;
      float: inline-start;
      margin-top: -4%;
      margin-left: 2%;
    }
    #temperatura-ambiente{
      width: 28%;
      height: 112px;
      position: relative;
      display: block;
      float: inline-start;
      margin-left: 5%;
      margin-top: -4%;
    }
    #viento{
      width: 28%;
      position: relative;
      display: block;
      float: inline-end;
      margin-right: 5%;
      margin-top: -4%;
 
    }
    #orientacion-v{
      width: 25%;
      margin-left: 0.5%;
      position: relative;
      display: block;
    }
    #observaciones{
      width: 96%;
    }
  }
}