<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Incidencia</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <form [formGroup]="incidentForm">
    <ion-input hidden type="text" [formControl]="lat"></ion-input>
    <ion-input hidden type="text" [formControl]="lng"></ion-input>
    <ion-grid *ngIf="user.online">
      <ion-row flex-wrap>
        <ion-col col-12>
          <ion-label>SELECCIONE UBICACIÓN EN EL MAPA</ion-label>
        </ion-col>
        <ion-col col-12>
          <div class="map-container">
            <ip-map #map></ip-map>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-input hidden type="text" [formControl]="type"></ion-input>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-col col-10>
            <ion-label>SELECCIONE SITUACIÓN</ion-label>
        </ion-col>
        <ion-col col-2>
            <!-- <a (click)="openDecreto()">+info</a> -->
        </ion-col>
      </ion-row>
      <ion-row flex-wrap>
        <ion-col col-3>
            <button ion-button (click)="changeType(0)" id="type-0" class="type-button" block>0</button>
        </ion-col>
        <ion-col col-3>
            <button ion-button (click)="changeType(1)" id="type-1" class="type-button" block>1</button>
        </ion-col>
        <ion-col col-3>
            <button ion-button (click)="changeType(2)" id="type-2" class="type-button" [disabled]="!user.manager" block>2</button>
        </ion-col>
        <ion-col col-3>
            <button ion-button (click)="changeType(3)" id="type-3" class="type-button" [disabled]="!user.manager" block>3</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-input hidden type="text" [formControl]="image1"></ion-input>
    <ion-input hidden type="text" [formControl]="image2"></ion-input>
    <ion-input hidden type="text" [formControl]="image3"></ion-input>
    <ion-grid>
      <ion-row flex-wrap>
        <ion-label class="photo-label">SUBIR IMAGEN</ion-label>
      </ion-row>
      <ion-row flex-wrap>
        <button ion-button icon-left class="photo-button" (click)="showAc()" [disabled]="image1.value && image2.value && image3.value" padding block>
          <ion-icon name="camera"></ion-icon>Adjuntar imagen
        </button>
      </ion-row>
      <ion-row class="photo-row" flex-wrap *ngIf="image1.value">
        <ion-col col-3>
          <img class="form-image" src="data:image/jpeg;base64,{{image1.value}}">
        </ion-col>
        <ion-col col-7>
          <p>01.imagen adjunta</p>
        </ion-col>
        <ion-col col-2>
          <button class="remove-photo-button" ion-button icon-only (click)="removePhoto(1)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="photo-row" flex-wrap *ngIf="image2.value">
        <ion-col col-3>
          <img class="form-image" src="data:image/jpeg;base64,{{image2.value}}">
        </ion-col>
        <ion-col col-7>
          <p>02.imagen adjunta</p>
        </ion-col>
        <ion-col col-2>
          <button class="remove-photo-button" ion-button icon-only (click)="removePhoto(2)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="photo-row" flex-wrap *ngIf="image3.value">
        <ion-col col-3>
          <img class="form-image" src="data:image/jpeg;base64,{{image3.value}}">
        </ion-col>
        <ion-col col-7>
          <p>03.imagen adjunta</p>
        </ion-col>
        <ion-col col-2>
          <button class="remove-photo-button" ion-button icon-only (click)="removePhoto(3)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <button ion-button color="dark-grey" class="submit-button" (click)="setType(incidentForm.value)" [disabled]="!incidentForm.valid" padding block>SIGUIENTE</button>

</ion-content>