page-incident-form {
  .submit-button {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 55px !important;
    font-size: 20px;
  }

  .idcard{
    height: 100%;
  }

  .location-content {
    margin-top: 0% !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  .type-button {
    background-color: color($colors, white);
    color: #83878F;
    box-shadow: none;
    border: none;
    height: 94px;
    border-radius: 5%;
    font-size: 30px;
  }

  .type-button-active {
    border: solid 2px color($colors, primary);
    color: color($colors, primary);
  }

  .photo-button {
    background-color: transparent;
    color: #222222;
    border: solid 1px #222222;
    height: 55px;
    font-size: 18px;	
    font-weight: 600;	
    letter-spacing: 0.23px;
    width: 90%;
    margin: auto;
    box-shadow: none;
    text-transform: none;
  }

  .photo-label {
    margin-left: 10px;
  }

  .form-image {
    height: 42px;
    margin-left: 10px;
  }

  .photo-row {
    margin-top: 10px;
  }

  .remove-photo-button {
    color: color($colors, danger);
    background-color: transparent;
    box-shadow: none;
  }

  .map-container {
    height: 268px;
    padding: 10px;
    background-color: white;
  }
}