
  
  <ion-header>
      <ion-toolbar>
          <ion-title>Actualice la versión</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content> 
      <ion-card class="login-box">
          <img src="assets/imgs/login-logo.png"/>
          <ion-card-content>
            <p class="update-msg">Su versión de la app está desfasada.</p>
            <p class="update-msg">Es necesario que actualice la versión para que los informes que realice tengan el formato correcto.</p>
            <p class="update-msg">Disculpe las molestias.</p>
            <ion-list>
                <div style="text-align: center;">
                    <button class="action-button message-action" ion-button (click)="openWeb()">
                    <p class="action-title" style="color: white;">Actualizar</p>
                    </button>
                </div>
            </ion-list>
          </ion-card-content>
      </ion-card>
  </ion-content>
  