update-page{
    ion-input{
        background-color: #f4f4f4;
        padding: 0 10px;
    }
    ion-label[stacked], ion-label[floating] {
        margin-left: 10px;
    }
    .item-inner {
        padding-right: 16px;
    }
    .button-wrapper{
        padding: 15px 0 0 0;
    }

    .update-msg {
        margin-bottom: 20px;
    }
}