page-public-list {
     .item-content {
         width: 100%;
     }
     .playa-item {
         background-color: white;
         width: 90%;
         margin-left: 5% !important;
         margin-right: 5% !important;
         margin-top: 10px;
         margin-bottom: 10px;
     }
     .playa-name {
        height: 21px;	
        width: 230px;	
        color: #020202;	
        font-size: 18px;	
        letter-spacing: 0.17px;	
        line-height: 21px;
        text-transform: uppercase;
     }
     .playa-updated {
        height: 21px;	
        width: 230px;	
        color: #909090;	
        font-size: 14px;	
        letter-spacing: 0.13px;	
        line-height: 21px;
     }
     .flag {
         height: 23px;
     }
    .scroll-content {
        padding-top: 0 !important;
    }
    .list {
        margin-bottom: 0 !important;
    }
   
}
