<ion-content class="tab-content">
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="false"
    (ionInput)="searchBeach($event)"
    placeholder="{{'BUSCAR' | translate}}"
    cancelButtonText="Cancelar"
    [debounce]="500"
  >
  </ion-searchbar> 
  <ion-list>
    <ion-item [ngClass]="'top'">
      <ion-label>Isla</ion-label>
      <ion-select [(ngModel)]="islaSel" (ionChange)="changeIsland($event)">
        <ion-option value='' >Todas</ion-option>
        <ion-option *ngFor="let isla of islas">{{ isla }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item [ngClass]="'bottom'">
      <ion-label>Municipio</ion-label>
      <ion-select [(ngModel)]="municipioSel" (ionChange)="changeMunicipality($event)">
        <ion-option value='' >Todos</ion-option>
        <ion-option *ngFor="let municipio of municipios">{{ municipio }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="playa-item" *ngFor="let playa of playas" (click)="showBeachInfo(playa)" tappable>
      <img *ngIf="playa.flag === null && playa.influxLvl === null" item-start src="assets/svg/bandera-off.svg" class="flag">
      <img *ngIf="playa.flag === 0 && playa.influxLvl === null" item-start src="assets/imgs/verde.png" class="flag">
      <img *ngIf="playa.flag == 1 && playa.influxLvl === null" item-start src="assets/imgs/amarilla.png" class="flag">
      <img *ngIf="playa.flag == 2 && playa.influxLvl === null" item-start src="assets/imgs/roja.png" class="flag">
      <img *ngIf="playa.flag === null && playa.influxLvl === 0" item-start src="assets/imgs/gris-baja.png" class="flag">
      <img *ngIf="playa.flag === 0 && playa.influxLvl === 0" item-start src="assets/imgs/verde-baja.png" class="flag">
      <img *ngIf="playa.flag == 1 && playa.influxLvl === 0" item-start src="assets/imgs/amarilla-baja.png" class="flag">
      <img *ngIf="playa.flag == 2 && playa.influxLvl === 0" item-start src="assets/imgs/roja-baja.png" class="flag">
      <img *ngIf="playa.flag === null && playa.influxLvl == 1" item-start src="assets/imgs/gris-media.png" class="flag">
      <img *ngIf="playa.flag === 0 && playa.influxLvl == 1" item-start src="assets/imgs/verde-media.png" class="flag">
      <img *ngIf="playa.flag == 1 && playa.influxLvl == 1" item-start src="assets/imgs/amarilla-media.png" class="flag">
      <img *ngIf="playa.flag == 2 && playa.influxLvl == 1" item-start src="assets/imgs/roja-media.png" class="flag">
      <img *ngIf="playa.flag === null && playa.influxLvl == 2" item-start src="assets/imgs/gris-alta.png" class="flag">
      <img *ngIf="playa.flag === 0 && playa.influxLvl == 2" item-start src="assets/imgs/verde-alta.png" class="flag">
      <img *ngIf="playa.flag == 1 && playa.influxLvl == 2" item-start src="assets/imgs/amarilla-alta.png" class="flag">
      <img *ngIf="playa.flag == 2 && playa.influxLvl == 2" item-start src="assets/imgs/roja-alta.png" class="flag">
      <img *ngIf="playa.flag === null && playa.influxLvl == 3" item-start src="assets/imgs/gris-cerrada.png" class="flag">
      <img *ngIf="playa.flag === 0 && playa.influxLvl == 3" item-start src="assets/imgs/verde-cerrada.png" class="flag">
      <img *ngIf="playa.flag == 1 && playa.influxLvl == 3" item-start src="assets/imgs/amarilla-cerrada.png" class="flag">
      <img *ngIf="playa.flag == 2 && playa.influxLvl == 3" item-start src="assets/imgs/roja-cerrada.png" class="flag">
      <p item-content class="item-content"><span class="playa-name">{{playa.name}}</span><br>
      <!-- <span class="playa-updated">Actualizado: {{playa.updated.getDate()+'/'+(playa.updated.getMonth()+1)+'/'+playa.updated.getFullYear()}} {{addZero(playa.updated.getHours())+':'+addZero(playa.updated.getMinutes())}}.h</span></p> -->
      <span class="playa-updated">{{'TEMPERATURA' | translate}}: 
        <span *ngIf="playa.temperature">{{playa.temperature}} ºC</span>
        <span *ngIf="!playa.temperature">--</span>
        {{'VIENTO' | translate}}: 
        <span *ngIf="playa.windSpeed">{{playa.windSpeed}} km/h</span>
        <span *ngIf="!playa.windSpeed">--</span>
      </span></p>
    </ion-item>
  </ion-list>
</ion-content>