page-incident-form-2 {
  .submit-button {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 55px !important;
    font-size: 20px;
  }

  .idcard{
    height: 100%;
  }

  .location-content {
    margin-top: 0% !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  .profiles-grid {
    margin: auto;
    width: 90%;
  }

  .profile-name {
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-left: 10px;
  }

  .profile-row {
    background-color: #D6D6D6;
    margin-top: 10px;
  }

  .profile-row-valid {
    background-color: color($colors, secondary);
    margin-top: 10px;
  }

  .edit-profile-button {
    color: #FFFFFF;
    background-color: transparent;
    box-shadow: none;
  }

  .error-box {
    color: red;
    margin-left: 10px;
  }

}