<ion-header>
  <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Situación {{form1Data.type}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content" no-bounce>

  <form [formGroup]="incidentForm">
    <ion-item no-lines>
      <ion-label stacked>HORA INICIO</ion-label>
      <ion-datetime displayFormat="HH:mm" [formControl]="dateIni"></ion-datetime>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0">
      <ion-label stacked>HORA FINAL</ion-label>
      <ion-datetime displayFormat="HH:mm" [formControl]="dateEnd"></ion-datetime>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type == 3">
      <ion-label stacked>EVACUACIÓN</ion-label>
      <ion-select [formControl]="evacuation">
        <ion-option *ngFor="let motivo of motivosEvacuacion" value="{{motivo}}">{{motivo}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>ALARMA DADA POR</ion-label>
      <ion-select [formControl]="alarmSender">
        <ion-option *ngFor="let item of alarmantes" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>MEDIOS EMPLEADOS</ion-label>
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="resourcesUsed"
          [items]="medios"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type != 1 && form1Data.type != 3">
      <ion-label stacked>SOCORRISTAS MOVILIZADOS</ion-label>
      <ion-input type="number" pattern="[0-9]*" [formControl]="numberLifeGuard"></ion-input>
      <!-- <ion-input type="number" [formControl]="numberLifeGuard"></ion-input> -->
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0 && form1Data.type < 3">
      <ion-label stacked>MEDIOS EXTERNOS MOVILIZADOS</ion-label>
      <!-- <ion-select multiple="true" [formControl]="externalResourcesUsed">
        <ion-option *ngFor="let item of externos" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="externalResourcesUsed"
          [items]="externos"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type == 3">
      <ion-label stacked>CUERPOS MOVILIZADOS</ion-label>
      <!-- <ion-select multiple="true" [formControl]="mobilizedAgents">
        <ion-option *ngFor="let item of cuerpos" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select> -->
      <ionic-selectable
          modalCssClass="ionic-selectable-documentation-configuration"
          item-content
          [formControl]="mobilizedAgents"
          [items]="cuerpos"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="false"
          [isMultiple]="true">
      </ionic-selectable>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0">
      <ion-label stacked>¿QUIEN LLAMÓ A QUIEN?</ion-label>
      <ion-select [formControl]="isLifeGuardCall">
        <ion-option value=0>El 112 al Socorrista</ion-option>
        <ion-option value=1>El Socorrista al 112</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0">
      <ion-label stacked>HORA DE LLAMADA 112</ion-label>
      <ion-datetime displayFormat="HH:mm" [formControl]="hourCall112"></ion-datetime>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0">
      <ion-label stacked>Nº INCIDENCIA CECOES</ion-label>
      <ion-input type="text" [formControl]="cecoes"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="form1Data.type > 0">
      <ion-label stacked>TIEMPO DE LLEGADA MEDIOS EXTERNOS (mins.)</ion-label>
      <ion-input type="number" pattern="[0-9]*" [formControl]="delayArriveExternalResources"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>PERSONAS AFECTADAS (Indique 0 si es Falsa Alarma)</ion-label>
      <ion-input type="number" pattern="[0-9]*" [formControl]="affectedPeopleNumber"></ion-input>
    </ion-item>
    <ion-grid *ngIf="form1Data.type != 3 && affectedPeopleNumber.value > 0" class="profiles-grid">
      <ion-label>PERFIL PERSONAS</ion-label>
      <ion-row flex-wrap *ngFor="let profile of incidentReport.affectedPeople; index as i" [ngClass]="(profile.valid)?'profile-row-valid':'profile-row'">
        <ion-col col-10>
          <p class="profile-name">Persona {{i+1}}</p>
        </ion-col>
        <ion-col col-2>
          <button class="edit-profile-button" ion-button icon-only (click)="editProfile(i)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines>
      <ion-label stacked>OBSERVACIONES Y/O DEFICIENCIAS</ion-label>
      <ion-input type="text" [formControl]="observation"></ion-input>
    </ion-item>
  </form>

  <button ion-button color="dark-grey" class="submit-button" (click)="setIncidentReport(incidentForm.value)" [disabled]="!incidentForm.valid" padding block>GUARDAR</button>
  <div *ngIf="dateIni.hasError('required')" class="error-box">&nbsp;* Introduzca Hora de inicio</div>
  <div *ngIf="affectedPeopleNumber.hasError('required')" class="error-box">&nbsp;* Introduzca Número de personas</div>
  <div *ngIf="affectedPeopleNumber.hasError('checkPeople')" class="error-box">&nbsp;* Rellene todos los perfiles</div>
  <div *ngIf="alarmSender.hasError('required')" class="error-box">&nbsp;* Introduzca Emisor de la alarma</div>
  <div *ngIf="dateEnd.hasError('requiredOnSit1')" class="error-box">&nbsp;* Introduzca Hora de fin</div>
  <div *ngIf="hourCall112.hasError('requiredOnSit1')" class="error-box">&nbsp;* Introduzca Hora de llamada al 112</div>
  <div *ngIf="delayArriveExternalResources.hasError('requiredOnSit1')" class="error-box">&nbsp;* Introduzca Tiempo de llegada</div>
  <div *ngIf="evacuation.hasError('requiredOnSit3')" class="error-box">&nbsp;* Introduzca Motivo evacuación</div>
  <div *ngIf="mobilizedAgents.hasError('requiredOnSit3')" class="error-box">&nbsp;* Introduzca Cuerpos externos movilizados</div>
  <div *ngIf="numberLifeGuard.hasError('requiredOnSit0And2')" class="error-box">&nbsp;* Introduzca Número de socorristas</div>
  <div *ngIf="externalResourcesUsed.hasError('requiredOnSit1And2')" class="error-box">&nbsp;* Introduzca Medios externos</div>

</ion-content>